body {
  margin: 0;
}

.container {
  background-image: url("./img/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}
.box {
  width: 18rem;
  height: 18rem;
  background: #fff;
}
.cardCat {
  width: 18rem;
  color: transparent;
  border-radius: 10px;
}
